* {/*proprieter taille de boite trés utile notament pour le responssive*/
  box-sizing: border-box;
}


body{
  background-image: url(../img/fond.png);
  /* Proprieter background*/
  /*
   background-repeat:no-repeat;
   background-size: cover; 
   */
  
  width: 100%;
}
/* En tete */
header{
  background-color: rgb(87, 214, 176);
  text-align: center;
}
header h1{
  color:rgb(48, 104, 85);
  font-size: 45px;
  /*Telecharger font est copier coller link*/
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
  /* Pour enlever la marge du titre*/
  margin:0 auto;
  text-align: center; 
}
header img{
  width: 10%;
}

nav{
  background-color: rgb(48, 104, 85);
  display: flex;
  justify-content: space-around;
}

nav a {
  border: 2px solid rgb(172, 251, 148);
  background: rgb(87, 214, 176);
  color: rgb(48, 104, 85);
  margin: 10px;
  padding: 2px 10px;
  border-radius: 10px 0px;
  text-decoration: none;
  font-size: 20px;
}


/* Corp de page  */
main{
  background-color: rgb(87, 214, 176);
  margin: 0 auto;
  text-align: center;
  width: 75%;
}
p{
  font-size: 20px;
}
/***************FORMULAIRE*******************/
h2{
  text-align: center;
}
.none{
  list-style-type: none;
}
form {
    background: rgb(87, 214, 176);
    border:2px solid rgb(48, 104, 85);
    border-radius: 15px ;
    color: #e3e4eb;
    margin: 0 auto;
    padding: 20px;
    width: 50%;
    
  }
  /* form p{
    text-align: center;
  } */
  
  label {
    display: inline-block;
    margin: 10px 0;
    text-align: center;
    width: 50%;
  }
  
  textarea {
    resize: none;
  }

  label[for="orange"],
  label[for="fraise"],
  label[for="poire"] {
    width: 13%;
  }
  .btn{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    border: 2px solid rgb(172, 251, 148);
  background: rgb(48, 104, 85);
  color: rgb(87, 214, 176);
  /* margin: 10px; */
  padding: 2px 10px;
  border-radius: 10px 0px;
  text-decoration: none;
  font-size: 20px;
  width: 15%;
  }
/* La zone de pied de page */
footer{
  background-color:rgb(48, 104, 85);
  color:antiquewhite;
  text-align: center;
}
